= form_for(@user) do |f|
  %br
  %h3 
    Not Yet Registered?
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :email
    %br/
    = f.text_field :email
  .field
    = f.label :password
    %br/
    = f.text_field :hashed_password
  .actions
    = f.submit 'Signup', class:"btn btn-default"
