<h1>Listing recipients</h1>

<table>
  <tr>
    <th>User</th>
    <th>Recipient email</th>
    <th>Disabled at</th>
    <th>Deleted at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipients.each do |recipient| %>
  <tr>
    <td><%= recipient.user_id %></td>
    <td><%= recipient.recipient_email %></td>
    <td><%= recipient.disabled_at %></td>
    <td><%= recipient.deleted_at %></td>
    <td><%= link_to 'Show', recipient %></td>
    <td><%= link_to 'Edit', edit_recipient_path(recipient) %></td>
    <td><%= link_to 'Destroy', recipient, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recipient', new_recipient_path %>
